{% extends 'base.html' %}

{% block body %}
<div class="container">
<div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="thumbnail">
                    <div class="caption">
                        <p>{{ job.context|safe|linebreaks }}</p>
                        <p><a href="{{ job.get_absolute_url }}" class="btn btn-primary" role="button">İncele</a>
                            {% if request.user.is_authenticated %} <!-- kullnanıcı yetkilendirmesi yapılıyor. Kullanıcı login oldusu ise kayıt güncellesin vaya silsin -->
                                <a href="{{ job.get_update_url }}" class="btn btn-default" role="button">Güncelle</a>
                                <a href="{{ job.get_delete_url }}" class="btn btn-danger" role="button">Sil</a>
                            {% endif %}

                        </p>
                    </div>
                </div>

            </div>
        </div>
      </div>

{% endblock %}