{% extends 'base.html' %}

{% block body %}
<div class="container">
<div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="caption">
                        <p>proje adı: {{ jobs|linebreaks }}</p>
                        <p>{{ jobs.status }}
                            {% if request.user.is_authenticated %} <!-- kullnanıcı yetkilendirmesi yapılıyor. Kullanıcı login oldusu ise kayıt güncellesin vaya silsin -->
                                <a href="{{ jobs.get_update_url }}" class="btn btn-default" role="button">Güncelle</a>
                            {% endif %}

                        </p>
                    </div>
                </div>

            </div>
        </div>
      </div>

{% endblock %}