{% extends 'base.html' %}
{% block body %}

<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>İşin Adı</th>
        <th>Proje Adı</th>
        <th>İşin Tipi</th>
        <th>Durum</th>
        <th>Başlangıç Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>Atanan</th>
      </tr>
    </thead>
    <tbody>
       {% for job in jobs %}
            <tr {% if job.status == 'NEW' %} style="background: #00B0E8" {% elif job.status == 'IN PROGRES' %} style="background: #00ad9c"  {% endif %}>
            <td><a href="{{ job.get_absolute_url }}">{{ job.subject }}</a></td>
            <td><a href="{{ job.get_absolute_url2 }}">{{ job.project_name }}</a></td>
            <td>{{ job.tracker }}</td>
            <td>{{ job.status }}</td>
            <td>{{ job.start_date }}</td>
            <td>{{ job.end_date }}</td>
            <td><a href="{% url 'follow:user' %}">{{ job.assigned }}</a></td>
            </tr>
       {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>

{% endblock %}



