{% extends 'base.html' %}

{% block body %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="container">
<h2>{{ project_name }}</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
          <th>Hata</th>
          <th>Özellik</th>
          <th>Test</th>
          <th>Araştırma</th>
          <th>Destek</th>
      </tr>
    </thead>
    <tbody>

         <tr>
             <td>{{ bug_count }}</td>
             <td>{{ feature_count }}</td>
             <td>{{ test_count }}</td>
             <td>{{ research_count }}</td>
             <td>{{ support_count }}</td>
         </tr>
    </tbody>
  </table>
</div>


{% endblock %}
