{% extends 'base.html' %}

{% block body %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <body>
        <div class="container">
          <h3>{{ title }}</h3>
          <ul class="list-group">
              <li class="list-group-item">Hata <span class="badge">{{ bug_count }}</span></li>
              <li class="list-group-item">Özellik <span class="badge">{{ feature_count }}</span></li>
              <li class="list-group-item">Test <span class="badge">{{ test_count }}</span></li>
              <li class="list-group-item">Araştırma <span class="badge">{{ research_count }}</span></li>
              <li class="list-group-item">Destek <span class="badge">{{ support_count }}</span></li>
          </ul>
        </div>
    </body>
{% endblock %}

